@media(max-width: 1225px){
    .navbar{
        display: block !important;
        text-align: center;
        &__list{
            justify-content: center;
            margin-bottom: 50px;
        }
    }
}
