@import "global";
@import "fonts";
@import "colors";
@import "media";
@import "../../node_modules/slick-carousel/slick/slick";
@import "../../node_modules/slick-carousel/slick/slick-theme";
.heading {
    background: linear-gradient(0deg, rgba(51, 51, 51, 0.85), rgba(51, 51, 51, 0.85)), url("../images/background.png");
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 1045px;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    &__list {
        display: flex;
        list-style: none;
    }
    &__item + &__item {
        padding-left: 63px;
    }
    &__link {
        font-family: "openSansCondensed";
        font-weight: bold;
        font-style: normal;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.1em;
    }
    &__phone {
        font-family: openSansCondensed;
        font-size: 16px;
        font-weight: bold;
        line-height: 22px;
        text-align: right;
        letter-spacing: 0.05em;
        padding-bottom: 4px;
        border-bottom: 3px solid $gold;
    }
}
.sidebar {
    background-color: rgba(51, 51, 51, 0.75);
    width: 150px;
    min-width: 150px;
    height: 100%;
    padding-top: 383px;
    top: 0;
    left: 0;
    text-align: center;

    &__text {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        text-transform: uppercase;
        color: #c4c4c4;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.1em;
        font-family: openSansCondensed;
        margin-left: 62px;
    }
    &__line {
        height: 80px;
        margin: 40px auto;
        width: 3px;
        background-color: #fff;
    }
    &__sm {
        margin: 0 auto;
    }
    &__icon + &__icon {
        margin-top: 30px;
    }
    &__icon img {
        fill: red;
    }
}
.poster {
    margin-top: 190px;
    display: flex;
    justify-content: space-between;
    &__text {
        padding-top: 117px;
    }
    &__text-main {
        font-family: OpenSans;
        font-size: 14px;
        line-height: 21px;
        padding-bottom: 50px;
    }
    &__text-title {
        text-transform: uppercase;
        font-family: OpenSansCondensed;
        font-weight: bold;
        font-size: 64px;
        line-height: 87px;
        letter-spacing: 0.1em;
        padding-bottom: 25px;
    }
}
.slick-slider {
    margin-left: 0;
    width: 570px;
}
.prev,
.next {
    position: absolute;
    border: none;
    background: transparent;
    font-family: OpenSansCondensed;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
}
.prev {
    bottom: -45px;
    left: 20%;
    &::before {
        content: url('../images/arl.svg');
        width: 40px;
        margin-right: 25px;
    }
}
.next {
    bottom: -45px;
    right: 20%;
    &::after {
        content: url('../images/arr.svg');
        width: 40px;
        margin-left: 25px;
    }
}
.slider__image {
    margin: 0 auto;
}
